/* Background image by https://unsplash.com/@scottwebb?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */

body {
    font-family:'Open Sans';
}

html { 
    background: url(https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #calculator {
      width:320px;
      height:520px;
      background-color:white;
      margin: 0 auto;
      margin-top:30px;
      border-radius:5px;
      box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6x 20px 0 rgba(0, 0, 0, 0.19);
  }

  #result {
      height:120px;
  }

  #keyboard {
      height:400px;
  }

  #history {
      text-align:right;
      height:20px;
      margin:0 20px;
      padding-top:20px;
      font-size:15px;
      color:#919191;
  }
  #history-value {
      text-align:right;
      margin:0 20px;
      padding-top:20px;
      font-size:15px;
  }

  #output {
      text-align:right;
      height:60px;
      margin:10px 20px;
      font-size:30px;
  }

  .operator, .number, .empty {
      width:50px;
      height:50px;
      margin:15px;
      float:left;
      border-radius:50%;
      border-width:0;
      font-weight:bold;
      font-size:15px;
      outline:0;
  }

  .empty, .number {
      background-color:white;
  }

  .number, .operator {
      cursor: pointer;
  }

  .number:hover {
      background-color:orange;
      color:white;
  }

  button:nth-child(4){
      font-size:20px;
      background-color:#20b2aa;
  }
  button:nth-child(8){
    font-size:20px;
    background-color:#ffa500;
}
button:nth-child(12){
    font-size:20px;
    background-color:lightcoral;
}
button:nth-child(16){
    font-size:20px;
    background-color:#7d93e0;
}
button:nth-child(20){
    font-size:25px;
    background-color:#9477af;
}